$breakpoint-xs-min: 0px;
$breakpoint-sm-min: 600px;
$breakpoint-md-min: 960px;
$breakpoint-lg-min: 1248px;
$breakpoint-xl-min: 1888px;

$breakpoint-xs-max: 599px;
$breakpoint-sm-max: 959px;
$breakpoint-md-max: 1247px;
$breakpoint-lg-max: 1887px;
